<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ---
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="ion-text-center">
    <ion-spinner></ion-spinner>
  </div>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container>
    <ion-accordion-group *ngIf="expenses"  [multiple]="true">
      <ion-accordion *ngFor="let exp of expenses.data.exp">
        <ion-item slot="header" color="light">
          <ion-label>{{exp.date | date:'mediumDate'}}</ion-label>
        </ion-item>

        <ion-list slot="content">
            <ion-item *ngFor="let expense of exp.list">
              <div>{{expense.name}} {{expense.description}} {{expense.quantity | currency:'EUR'}}</div>
            </ion-item>              
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    <ion-fab>
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </app-explore-container>
</ion-content>
